/* Misc */
.form-control.form-disabled {
    background-color: #eee;
    cursor: no-drop;
}

.form-alert {
    margin-top: 16px;
}

.center {
    text-align: center;
}

/* Navbar Header */
.navbar-top-links a {
    color: #e0e0e0;
}

/* Page Wrapper */
#page-wrapper {
    padding-bottom: 32px;
}

/* Sidebar */
.sb-info {
    margin: 16px 0;
    text-align: center;
}

.sb-info img {
    width: 96px;
}

.sb-info-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sb-info-content li {
    border-bottom: none !important;
}

.sb-info-name {
    font-size: 1em;
    color: #F44336;
    font-weight: 600;
    margin-top: 16px;
}

.sb-info-role {
    font-size: .8em;
}

/* List of Brands */
.table-brand-add {
    text-align: right;
    padding: 16px 0 32px;
}

.table-brand-item-name {
    width: 130px;
    text-align: center;
}

.table-brand-item-brand {
    vertical-align: middle !important;
}

.table-brand-item-brand img {
    max-width: 120px;
}

/* List of Types */
.table-type-add {
    text-align: right;
    padding: 16px 0 32px;
}

.table-type-item-button {
    width: 100px;
    text-align: center;
}

/* List of Categories */
.table-category-add {
    text-align: right;
    padding: 16px 0 32px;
}

.table-category-item-button {
    width: 100px;
    text-align: center;
}